executor {
    name = 'local'
    queueSize = 500
}
trace {
	enabled = false
	file = 'traceLgert.txt'
}
timeline {
	enabled = false
	file = 'timelineLgert.html'
}
process{
	executor='local'
	//executor='slurm'
	//queue = 'common,dedicated'
	//clusterOptions = "--qos=normal"
	//errorStrategy='retry'
	//maxRetries=2
        container='/home/gbussott/Desktop/L-GERT_githubRepo/singularityContainer/lgertContainer.simg'
	errorStrategy='terminate'
	scratch=false
	cache=true
	withName: prepareGenome {
		executor='local'
		cpus=2
		memory='4000'
		time='2h'
	}
}
singularity{
	enabled = true
	//runOptions = '-B /home/gbussott/Desktop/inputData/fqDir:/mnt/fq -B /home/gbussott/Desktop/inputData/dataset:/mnt/data'
	//runOtions = '-B /home/gbussott/Desktop/L-GERT_githubRepo/inputData:/mnt'
        autoMounts = true
}
