executor {
    name = 'local'
    queueSize = 500
}
trace {
    enabled = false
    file = 'traceLgert.txt'
}
timeline {
    enabled = false
    file = 'timelineLgert.html'
}
params{

    MAPQ = 50

    BITFLAG = 1028

    CHRSj = "1 2" 

    plotCovPerNtOPT="--ylim 0 8"

    STEP=300
    
    PLOTcovPerBinOPT="--segmentation no --highRatio 2 --lowRatio 0.5 --ylim 3 --minWindowNormMean 0.1 --minWindowNormMedian 0.1 --divideByOne"
    
    PLOTcovPerBinRegressionOPT="--resizeValue 1000 --filterChrEnds 0 --maxCov 5 --cv"

    covPerBinSigPeaksOPT="--verbose --inFormat covPerBin --highLowPeakThresh 2 0.5 --minLen 0 --pThresh 0.001 --padjust BY"

    covPerGeMAPQoperation="MEAN"

    plotCovPerGeOPT="--divideByOne --locusFieldName locus --scoreFieldName normalizedMeanCoverage --plot3_min 2 --plot3_max 5 --scoreLabel coverage --scaleFree yes --dumpFilteredGenes"

    covPerGeSigPeaksOPT="--pFilter --pThresh 0.001 --padjust BH --inFormat covPerGe --highLowPeakThresh 2 0.5 --minLen 0"

    freebayesOPT="--read-indel-limit 1 --read-mismatch-limit 3 --read-snp-limit 3 --hwe-priors-off --binomial-obs-priors-off --allele-balance-priors-off  --min-alternate-fraction 0.05 --min-base-quality 5 --min-alternate-count 2 --pooled-continuous"

    filterFreebayesOPT="--variants single --snvOnly yes --minFreq 0.1 --maxFreq 1.1 --minAO 2 --minAOhomopolymer 20 --contextSpan 5 --homopolymerFreq 0.4 --minMQMR 20 --minMQM 20 --useENDfield no --howManyMads 4 --generatePseudoReference yes"

    //filterDellyOPT="--filterSVatTheTelomericEnds 10000 --minPE 20 --minPercentDVDRtest 20 --maxPercentDVDRreference 99999 --minDVtest 20 --maxDVreference 99999 --PRECISE no --maxBadSeqPercent 50"

    filterDellyOPT="--filterSVatTheTelomericEnds 0 --minPE 0 --minPercentDVDRtest 0 --maxPercentDVDRreference 99999 --minDVtest 0 --maxDVreference 99999 --PRECISE no --maxBadSeqPercent 100"

    minNormCovForDUP = 1.5 

    maxNormCovForDEL = 0.5

    bigWigOpt="--binSize 10 --smoothLength 30" 
}
process{
    executor='local'
    container='/home/gbussott/Desktop/L-GERT_githubRepo/singularityContainer/lgertContainer.simg'
    errorStrategy='terminate'
    scratch=false
    cache=true
    echo=false
    stageInMode='symlink'
    time='2h'
    cpus=1
    memory='30000' 
    withName: prepareGenome {
                cpus=2
	      } 
    withName: map {
                cpus=2
                }
    withName: covPerChr {
                memory='30000'
              }
    withName: covPerNt {
                memory='30000'
              }
    withName: covPerBin {
                memory='30000'
              }
    withName: mappingStats{
                memory='10000'
              }
    withName: covPerGe {
                memory='30000'
              }
    withName: freebayes {
                memory='40000'
              }
    withName: snpEff {
                memory='30000'
              }
    withName: dellySVref {
                memory='30000'
              }
    withName: bigWigGenomeCov {
                memory='10000'
              }
}
singularity{
	enabled = true
        autoMounts = true
}
